#yin-yang{
  margin-left: 200px;
  margin-top: 100px;
  width: 96px;
  height: 192px;
  border-width: 4px 100px 4px 4px;
  border-style: solid;
  border-color: #000;
  border-radius: 100%;
  position: relative;
  animation-duration: 1s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#yin-yang:before{
  content: "";/*这一句必须要有，否则before就不可见了，，，，可以理解为。。没有内容就不占空间*/
  width: 24px;
  height: 24px;
  background-color: white;
  border: 36px solid black;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50px;
}
#yin-yang:after{
  content: "";
  width: 24px;
  height: 24px;
  background-color: black;
  border: 36px solid white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}