* {
    box-sizing: border-box;
}
.scoreboard {
    display: flex;
    justify-content: center;
}
.scoreboard .score-part {
    padding: 12px 32px;
}
.track{
    position: relative;
    margin-bottom: 20px;
    width: 90%;
    height: 32px;
    border: 2px solid green;
}
.track .player {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 6px;
    border-radius: 50%;
}
.red {
    background-color: red;
    color: white;
}
.blue {
    background-color: blue;
    color: white;
}