body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, i, b, textarea, button, input, select {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 16px;
}

textarea:focus, button:focus, input:focus, select:focus {
    outline: none;
}

.head {
    padding: 1rem 3rem 0.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #bbb;
    color: #fff;
}

.head .title {
    font-weight: bold;
    font-size: 2rem;
}

.head .description {
    margin-left: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.wave {
    height: 1.8rem;
    width: 100%;
    background: radial-gradient(circle at 50% 50%, #bbb 0, #bbb 66%, transparent 0);
    background-repeat: repeat-x;
    background-size: 2.5rem 3rem;
    background-position: 0 -1.5rem;
    background-color: transparent;
}

.info-wrapper {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}

.info-wrapper .photo {
    width: 10rem;
}

.info-wrapper .photo .photo-inner {
    width: 100%;
}

.info-wrapper .info-inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0.8rem 1.6rem;
    border-radius: 1.2rem;
    background-color: #ccc;
    color: #fff;
}

.info-wrapper .info-inner::before, .info-wrapper .info::before {
    content: "";
    display: block;
    position: absolute;
    width: 3.2%;
    height: 5.2rem;
    background-color: #bbb;
}
.info-wrapper .info {
    top: -5.2rem;
    left: 20%;
}

.info-wrapper .info-inner::after, .info-wrapper .info::after {
    content: "";
    display: block;
    position: absolute;
    top: -2rem;
    left: 21.6%;
    transform: translateX(-50%);
    border: 1rem solid transparent;
    border-bottom-color: #bbb;
}

.info-wrapper .info .title {
    font-weight: bold;
    font-size: 2rem;
}

.personal {
    position: relative;
}

/* .hook {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-100%);
    height: 150px;
    width: 8px;
    background-color: #bbb;
}

.hook::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(-41%, -100%);
    /* x值需要重新确定*/

/* border: 24px solid #bbb;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
} */

.part .title {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
}

.item1 {
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    background-color: #bbb;
    min-width: 12%;
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
}

.item2 {
    min-width: 20%;
    height: 100%;
    padding: 0 20px;
    line-height: 50px;
    background-color: #bbb;
    position: relative;
}

.item2::before {
    content: "";
    display: block;
    border: 25px solid #bbb;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    left: 100%;
}

.item2::after {
    content: "";
    display: block;
    height: 8%;
    width: 200%;
    /* width需要确定怎么弄*/
    background-color: #bbb;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translateY(-100%);
}