#yin-yang{
  width: 48px;
  height: 96px;
  border-width: 2px 50px 2px 2px;
  border-style: solid;
  border-color: #000;
  border-radius: 100%;
  position: relative;
}
#yin-yang:before{
  content: "";/*这一句必须要有，否则before就不可见了，，，，可以理解为。。没有内容不占空间？*/
  width: 12px;
  height: 12px;
  background-color: white;
  border: 18px solid black;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 25px;
}
#yin-yang:after{
  content: "";
  width: 12px;
  height: 12px;
  background-color: black;
  border: 18px solid white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
}